<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="RegressionSuite">

	<test name="Login and Update Profile Test" annotations="JDK"
		preserve-order="true">
		<classes>
			<class name="apitesting.com.testRunner.testRunner" />
		</classes>
	</test>


</suite> 